#agenda {

  width: 100%;
  min-height: 100vh;
  position: relative;

  padding-bottom: 100vw;
  @include for-tablet-landscape-up {
    padding-bottom: 0;
  }

  .marquee {
    position: relative;
    z-index: 2;
  }

  .agenda__dates {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 3rem auto 1rem;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--gutter);

    li {
      background-color: var(--color-grey);
      text-transform: uppercase;
      flex: 1 1 auto;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      margin-right: 1rem;
      padding: 0.5em 1em;
      border-radius: 12px;
      border: 3px white solid;
      color: white;
      cursor: pointer;
      position:relative;
      overflow: hidden;


      &:before{
        content : "";
        width:100%;
        height: 100%;
        position:absolute;
        top:0;
        lefT:0;
        transition:opacity 200ms;
        opacity : 0;
        background-color: var(--color-focus-primary);
        //background-color: red;
      }

      &:after{
        content : attr(data-date);
        width:100%;
        height: 100%;
        position:absolute;
        top:0;
        lefT:0;
        font-size: 1.25rem;
        display: flex;
        color: var(--color-black);
        opacity : 0;
        transition:opacity 200ms;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        border: 3px var(--color-focus-primary) solid;
        &:after{
          opacity : 1;
        }
        &:before{
          opacity : 1;
        }
        pointer-events: none;
      }

      &:hover{
        &:before{
          opacity : 0.5;
        }
      }
    }
  }

  .agenda__events {
    position: relative;
    z-index: 2;

    padding: 0 var(--gutter);

    width: 100%;
    margin: 3rem auto 1rem;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8em;
    color: white;
    justify-content: space-evenly;
    justify-items: center;

    > div {
      justify-self: start;

      > * {
        margin-bottom: 1em;
      }

      h3 {
        color: var(--color-focus-primary);
      }

      p {
        margin-bottom: 1em;
        font-size: 0.66rem;
      }

      time {
        margin-bottom: 1em;
        display: block;
      }

      a {
        color: var(--color-pink);
        text-transform: uppercase;
        font-size: 0.66rem;
        font-style: italic;
        font-weight: 700;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        svg {
          height: 0.66rem;


          path {
            stroke: var(--color-pink);
          }
        }

        &:hover{
          svg{
            transition:transform 200ms;
            transform: translate(5px, 0);
          }
        }
      }
    }

  }

  &:after {
    content: "";
    position: absolute;

    height: 119vw;
    width: 100vw;

    bottom: 0;
    right: 0;

    @include for-tablet-landscape-up {
      height: 50vh;
      width: 39vh;
      top: var(--marquee-height);
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/Group 210.png');
  }

  &:before {
    @include for-tablet-landscape-up {
      content: "";
    }
    position: absolute;
    height: 50vh;
    width: 39vh;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/Group 209.png');
  }
}
